@charset "UTF-8";

body {
    background-color: rgb(67, 67, 251);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 250px;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.326);
}

div {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}