@charset "UTF-8";

body {
    background-color: rgb(67, 67, 251);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

h1 {
    
}

section {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.326);
    display: block;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}